@model IEnumerable<E_LearningApp.Models.School>
@{
    ViewData["Title"] = "AllSchools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Škole</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th>Naziv škole</th>
                    <th>Naziv kursa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var school in Model)
                {
                    <tr>
                        <td>@school.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

