@model E_LearningApp.Models.User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
                <tr class="bg-success">
                    <th>Email</th>
                    
                </tr>
            </thead>
            <tbody>
               @*foreach (var c in Model)
                {*@
                    <tr>
                        <td>Email </td>
                        
                    </tr>
                @*}*@

            </tbody>
        </table>
    </div>
</div>
