@model IEnumerable<E_LearningApp.Models.Course>
@{
    ViewData["Title"] = "AllCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kursevi</h2>
<div class="row">
    <div class="col-lg-11">
        <table class="table table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th>Naziv kursa</th>
                    <th>Link kursa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td>@course.Link</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-1">
        <button asp-action="CreateCourse" class="btn btn-primary">Dodaj kurs</button>
    </div>
</div>