@model E_LearningApp.Models.Course
@{
    ViewData["Title"] = "UpdateCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izmeni podatke o kursu</h2>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("UpdateCourse", "Courses"))
        {
            <div class="form-group">
                @Html.LabelFor(c => c.Name)
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
            </div>
            @Html.HiddenFor(c => c.Id)
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Sačuvaj</button>
        }
    </div>
</div>

